<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Amazon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/style/custom.css">
    <link rel="stylesheet" type="text/css" href="/style/bootstrap.min.css">

  </head>
  <body>
  <%- include ./partials/navbar -%>
  <%- body -%>
  <%- include ./partials/footer -%>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </body>
</html>






